
<main class="main-content">
    <section class="comment-reply-form">
        <h3 class="widget-title widget-title_mod-a ui-title-inner decor decor_mod-a">Your Corporate Information</h3>
        <form id="comment-reply-form" action="#" method="post" class="ui-form">

            <div class="row">
                <div class="col-md-12" ">
&nbsp;&nbsp;Company Name
                    <input id="comment-company-name" type="text" name="company-name" placeholder="Company Name" class="form-control">
                </div>

            </div><!-- end row -->

            <div class="row">
                <div class="col-xs-12">
&nbsp;&nbsp;Company Description

                    <textarea class="form-control" placeholder="Company Description" required rows="11"></textarea>
                </div>
            </div><!-- end row -->

            <div class="row">
                <div class="col-md-6" ">&nbsp;&nbsp;Email Address
                    <input id="comment-email" type="email" name="email" required placeholder="Email Address" class="form-control">

                </div>
                <div class="col-md-6">&nbsp;&nbsp;Contact Number
                    <input id="comment-contact-no" type="contact-no" name="contact-no" required placeholder="Contact Number" class="form-control">

                </div>
            </div><!-- end row -->

            <div class="row">
                <div class="col-md-6" ">&nbsp;&nbsp;Facebook URL
                    <input id="facebookid" type="email" name="facebookurl" required placeholder="Facebook URL" class="form-control">

                </div>
                <div class="col-md-6">&nbsp;&nbsp;Twitter URL
                    <input id="comment-twitter" type="twitter" name="twitter" required placeholder="Twitter URL" class="form-control">

                </div>
            </div><!-- end row -->

            <div class="row">
                <div class="col-md-6" ">&nbsp;&nbsp;Youtube URL
                    <input id="youtube" type="youtube" name="youtubeurl" required placeholder="Youtube URL" class="form-control">

                </div>
                <div class="col-md-6">&nbsp;&nbsp;LinkedIn URL
                    <input id="comment-linkedin" type="linkedin" name="linkedin" required placeholder="Linkedin URL" class="form-control">

                </div>
            </div><!-- end row -->   
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-primary btn-effect">submit</button>
                </div>
            </div><!-- end row -->
        </form>
    </section>
</main>
<!-- end main-content -->
