<div class="main-content">


    <div class="section_find-course wow fadeInUp" data-wow-duration="2s">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="find-course find-course_mod-b">
                        <form class="find-course__form" action="http://html.templines.com/academica/get">
                            <div class="form-group">
                                <i class="icon stroke icon-Search"></i>
                                <input class="form-control" type="text" placeholder="Course Keyword ...">
                                <div class="jelect">
                                    <input value="0" type="text" class="jelect-input">
                                    <div tabindex="0" role="button" class="jelect-current">All Categories</div>
                                    <ul class="jelect-options">
                                        <li class="jelect-option jelect-option_state_active">Categorie 1</li>
                                        <li class="jelect-option">Categorie 2</li>
                                        <li class="jelect-option">Categorie 3</li>
                                    </ul>
                                </div>
                                <!-- end jelect -->
                            </div>
                            <!-- end form-group -->
                            <div class="find-course__wrap-btn">
                                <button class="btn btn-info btn-effect">SEARCH COURSE</button>
                            </div>
                        </form>
                    </div>
                    <!-- end find-course -->
                    <!--<dSTAY UPDATED WITH ACADEMICAiv class="find-course__info">Search more than 50,000 online courses available from 2,000 publishers</div>-->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end section-default -->






    <div class="container">
        <div class="border-decor_bottom">
            <div class="section-default">
                <div class="row">
                    <div class="col-md-4">
                        <section class="section-area wow bounceInRight" data-wow-duration="2s">
                            <div class="title-w-icon">
                                <i class="icon stroke icon-Agenda"></i>
                                <h2 class="ui-title-inner">UPCOMING EVENTS</h2>
                            </div>
                            <article class="post post_mod-e clearfix">
                                <div class="box-date"><span class="number">25</span>AUG</div>
                                <div class="entry-main">
                                    <h3 class="entry-title entry-title_mod-a"><a href="javascript:void(0);">How To Learn Online</a></h3>
                                    <div class="entry-content">
                                        <p>Eleifend donec sapien sed usaer tesqed Lorem ipsum dolor sit ban.</p>
                                    </div>
                                    <div class="entry-footer">
                                        <div class="entry-links entry-links_mod-a"><i class="icon stroke icon-Time"></i>starting <a class="post-link" href="javascript:void(0);">07:30 am</a></div>
                                    </div>
                                </div>
                            </article>
                            <!-- end post -->

                            <article class="post post_mod-e clearfix">
                                <div class="box-date"><span class="number">25</span>AUG</div>
                                <div class="entry-main">
                                    <h3 class="entry-title entry-title_mod-a"><a href="javascript:void(0);">How To Learn Online</a></h3>
                                    <div class="entry-content">
                                        <p>Eleifend donec sapien sed usaer tesqed Lorem ipsum dolor sit ban.</p>
                                    </div>
                                    <div class="entry-footer"> <span class="entry-time"><i class="icon stroke icon-Time"></i>starting <a class="post-link" href="javascript:void(0);">07:30 am</a></span> </div>
                                </div>
                            </article>
                            <!-- end post -->
                        </section>
                        <!-- end section-area -->
                    </div>
                    <!-- end col -->

                    <div class="col-md-4 wow bounceInRight" data-wow-duration="2s" data-wow-delay=".7s">
                        <div class="title-w-icon">
                            <i class="icon stroke icon-User"></i>
                            <h2 class="ui-title-inner">Featured TEACHER</h2>
                        </div>
                        <article class="post post_mod-f">
                            <div class="entry-media">
                                <div class="entry-thumbnail"><img class="img-responsive" src="assets/media/posts/160x125/1.jpg" width="160" height="125" alt="Foto"> </div>
                            </div>
                            <div class="entry-main">
                                <h3 class="entry-title entry-title_mod-a"><a href="javascript:void(0);">ANDREW FINCH</a></h3>
                                <div class="entry-meta"><a class="post-link" href="javascript:void(0);">Developer</a></div>
                                <div class="entry-content">
                                    <p>Phasellus luctus pulvin g bienum aliquam lig sape conde lorem ipsum dolor met cons letua.</p>
                                    <p>Eeniam quis nostrud exercitation ullamco labor nisut alq gxe commodo consequat duis aute re dola. Lorem ipsum dolor sit amt consectetur adipisng elit.</p>
                                </div>
                            </div>
                            <a href="javascript:void(0);" class="post-btn btn btn-primary btn-effect">FULL PROFILE</a>
                        </article>
                        <!-- end post -->
                    </div>
                    <!-- end col -->

                    <div class="col-md-4 wow bounceInRight" data-wow-duration="2s" data-wow-delay="1.4s">
                        <div class="title-w-icon">
                            <i class="icon stroke icon-Book"></i>
                            <h2 class="ui-title-inner">RECENT COURSES</h2>
                        </div>
                        <article class="post post_mod-g clearfix">
                            <div class="entry-media">
                                <div class="entry-thumbnail"> <a href="javascript:void(0);"><img class="img-responsive" src="assets/media/posts/100x90/1.jpg" width="100" height="90" alt="Foto" /></a> </div>
                            </div>
                            <div class="entry-main">
                                <h3 class="entry-title entry-title_mod-a"><a href="javascript:void(0);">Programming for Everybody</a></h3>
                                <div class="entry-meta"> <span class="entry-autor"> <span>By </span> <a class="post-link" href="javascript:void(0);">John Milton</a> </span> <span class="entry-date"><a href="javascript:void(0);">Dec 16, 2015</a></span> </div>
                                <div class="entry-footer">
                                    <ul class="rating">
                                        <li><i class="icon fa fa-star"></i></li>
                                        <li><i class="icon fa fa-star"></i></li>
                                        <li><i class="icon fa fa-star"></i></li>
                                        <li><i class="icon fa fa-star"></i></li>
                                        <li><i class="icon fa fa-star-o"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- end entry-main -->
                        </article>
                        <!-- end post -->
                        <article class="post post_mod-g clearfix">
                            <div class="entry-media">
                                <div class="entry-thumbnail"> <a href="javascript:void(0);"><img class="img-responsive" src="assets/media/posts/100x90/2.jpg" width="100" height="90" alt="Foto" /></a> </div>
                            </div>
                            <div class="entry-main">
                                <h3 class="entry-title entry-title_mod-a"><a href="javascript:void(0);">Programming for Everybody</a></h3>
                                <div class="entry-meta"> <span class="entry-autor"> <span>By </span> <a class="post-link" href="javascript:void(0);">John Milton</a> </span> <span class="entry-date"><a href="javascript:void(0);">Dec 16, 2015</a></span> </div>
                                <div class="entry-footer">
                                    <ul class="rating">
                                        <li><i class="icon fa fa-star"></i></li>
                                        <li><i class="icon fa fa-star"></i></li>
                                        <li><i class="icon fa fa-star"></i></li>
                                        <li><i class="icon fa fa-star"></i></li>
                                        <li><i class="icon fa fa-star-o"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- end entry-main -->
                        </article>
                        <!-- end post -->
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end section-default -->
        </div>
        <!-- end border-decor_bottom -->
    </div>
    <!-- end container -->




</div>