<main class="main-content">


    <section class="section_contacts-form">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <h2 class="ui-title-block"> School Information -  <strong>12th Std / PUC</strong></h2>
                    <div class="wrap-subtitle">
                        <div class="ui-subtitle-block ui-subtitle-block_w-line">If you have some feedback or want to ask any questions</div>
                    </div><!-- end wrap-title -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    &nbsp;
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <div class="col-md-3">
                        <input type="checkbox" class="checkbox-inline" /> Check 1
                    </div>
                    <div class="col-md-3">
                        <input type="checkbox" class="checkbox-inline" /> Check 2
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-3">
                        <input type="radio" class="radio-inline" /> Radio 1
                    </div>
                    <div class="col-md-3">
                        <input type="radio" class="radio-inline" /> Radio 2
                    </div>
                </div>
            </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <select class="form-control">
                                <option value="volvo">Volvo</option>
                                <option value="saab">Saab</option>
                                <option value="mercedes">Mercedes</option>
                                <option value="audi">Audi</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <select class="form-control">
                                <option value="volvo">Volvo</option>
                                <option value="saab">Saab</option>
                                <option value="mercedes">Mercedes</option>
                                <option value="audi">Audi</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <input class="form-control" type="text" placeholder="Medium of Study" required>
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" type="text" placeholder="Year of Study">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <input class="form-control" type="text" placeholder="Year of Completion" required>
                        </div>

                        <div class="col-md-6">
                            <input class="form-control" type="text" placeholder=" ">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" placeholder="School Name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" placeholder="School Address Line 1 - No, street, location">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" placeholder="School Address Line 2 - Block, Town, District">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <input class="form-control" type="text" placeholder="City" required>
                        </div>

                        <div class="col-md-6">
                            <input class="form-control" type="text" placeholder="Country ">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <input class="form-control" type="text" placeholder="Postal Code" required>
                        </div>

                        <div class="col-md-6">
                            <input class="form-control" type="text" placeholder="Phone Number">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <input class="form-control" type="text" placeholder="Mobile No" required>
                        </div>

                        <div class="col-md-6">
                            <input class="form-control" type="text" placeholder="Email ID">
                        </div>
                    </div>
                    <div class="col-xs-12">

                        <button class="btn btn-primary btn-effect">Submit</button>
                        <button class="btn btn-primary btn-effect">Clear</button>
                    </div>
                </div>
</section><!-- end section_contacts-form -->
</main>
