
<div>
    {{sampletext}}<br />

    <ul ng-repeat="stu in statuses">
        <li ng-show="{{stu.value==1}}" >StstusId : {{stu.value}} |Status : {{stu.text}}</li>
    </ul>

    <select>
        <option ng-repeat="stu in statuses" value="{{stu.value}}" >{{stu.text}}</option>
    </select>

    skldjbsdkb
    <input type="button" ng-click="add()" value="Addition" name="Addition" />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    
</div>