
<script src="../assets/plugins/jelect/jquery.jelect.js"></script>
<div class="main-content">

    <section class="section-subscribe wow fadeInUp" data-wow-duration="2s">
        <div class="subscribe">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="subscribe__icon-wrap"> <i class="icon_bg stroke icon-Imbox"></i><i class="icon stroke icon-Imbox"></i> </div>
                        <div class="subscribe__inner">
                            <h2 class="subscribe__title">STAY UPDATED WITH ACADEMICA</h2>
                            <!--<div class="subscribe__description">Nulla feugiat nibh placerat fermentum rutrum ante risus euismod</div>-->
                        </div>
                        <ul class="list-clients list-unstyled clearfix">
                            <li class="list-clients__item"><img class="img-responsive" src="assets/media/clients/1.jpg" height="100" width="200" alt="Partners"></li>
                            <li class="list-clients__item"><img class="img-responsive" src="assets/media/clients/2.jpg" height="100" width="200" alt="Partners"></li>
                            <li class="list-clients__item"><img class="img-responsive" src="assets/media/clients/3.jpg" height="100" width="200" alt="Partners"></li>
                            <li class="list-clients__item"><img class="img-responsive" src="assets/media/clients/4.jpg" height="100" width="200" alt="Partners"></li>
                            <li class="list-clients__item"><img class="img-responsive" src="assets/media/clients/5.jpg" height="100" width="200" alt="Partners"></li>
                        </ul>
                    </div>
                    <!-- end col -->
                    <!--<div class="col-sm-6">
                        <form class="subscribe__form" action="http://html.templines.com/academica/get">
                            <input class="subscribe__input form-control" type="text" placeholder="Your Email address ...">
                            <button class="subscribe__btn btn btn-success btn-effect">SUBSCRIBE</button>
                        </form>
                    </div>-->
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
    </section>
    <!-- end section-subscribe -->

    <div class="section_mod-a">
        <div class="container">
            <div class="section_mod-a__inner">
                <div class="row">
                    <div class="col-md-12 section_mod-c" style="padding-top: 10px">
                        <h2 class="ui-title-block ui-title-block_mod-a">10th Std/SSLC</h2>
                        <div class="ui-subtitle-block ui-subtitle-block_mod-a">Having over 9 million students worldwide and more than 50,000 online courses available.</div>
                        <form class="find-course__form" action="http://html.templines.com/academica/get">
                            <div class="form-group col-md-6">
                                <input class="form-control" type="text" placeholder="Course Keyword ...">
                                <div class="jelect">
                                    <input value="0" type="text" class="jelect-input">
                                    <div tabindex="0" role="button" class="jelect-current">All Categories</div>
                                    <ul class="jelect-options">
                                        <li class="jelect-option jelect-option_state_active">Categorie 1</li>
                                        <li class="jelect-option">Categorie 2</li>
                                        <li class="jelect-option">Categorie 3</li>
                                    </ul>
                                </div>
                                <div class="row">&nbsp;</div>
                                <!-- end jelect -->
                                <div class="jelect">
                                    <input value="0" type="text" class="jelect-input">
                                    <div class="jelect-current">Select A Level</div>
                                    <ul class="jelect-options">
                                        <li class="jelect-option jelect-option_state_active">Level 1</li>
                                        <li class="jelect-option">Level 2</li>
                                        <li class="jelect-option">Level 3</li>
                                    </ul>
                                </div>

                                <!-- end jelect -->
                            </div>
                            <div class="form-group col-md-6">
                                <input class="form-control" type="text" placeholder="Course Keyword ...">
                                <div class="jelect">
                                    <input value="0" type="text" class="jelect-input">
                                    <div tabindex="0" role="button" class="jelect-current">All Categories</div>
                                    <ul class="jelect-options">
                                        <li class="jelect-option jelect-option_state_active">Categorie 1</li>
                                        <li class="jelect-option">Categorie 2</li>
                                        <li class="jelect-option">Categorie 3</li>
                                    </ul>
                                </div>
                                <div class="row">&nbsp;</div>
                                <!-- end jelect -->
                                <div class="jelect">
                                    <input value="0" type="text" class="jelect-input">
                                    <div class="jelect-current">Select A Level</div>
                                    <ul class="jelect-options">
                                        <li class="jelect-option jelect-option_state_active">Level 1</li>
                                        <li class="jelect-option">Level 2</li>
                                        <li class="jelect-option">Level 3</li>
                                    </ul>
                                </div>

                                <!-- end jelect -->
                            </div>
                            <!-- end form-group -->
                            <div class="find-course__wrap-btn">
                                <button class="btn btn-effect btn-info">SEARCH COURSE</button>
                            </div>
                        </form>
                        <!-- end section-advantages -->
                    </div>
                    <!-- end col -->

                </div>
                <!-- end row -->
            </div>
            <!-- end section_mod-a__inner -->
        </div>
        <!-- end container -->
    </div>
    <!-- end section_mod-a -->

    <section class="section-clients wow fadeInUp" data-wow-duration="2s">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="ui-title-block ui-title-block_mod-b">Our <strong>Global Partners</strong></h2>
                    <ul class="list-clients list-unstyled clearfix">
                        <li class="list-clients__item"><img class="img-responsive" src="assets/media/clients/1.jpg" height="100" width="200" alt="Partners"></li>
                        <li class="list-clients__item"><img class="img-responsive" src="assets/media/clients/2.jpg" height="100" width="200" alt="Partners"></li>
                        <li class="list-clients__item"><img class="img-responsive" src="assets/media/clients/3.jpg" height="100" width="200" alt="Partners"></li>
                        <li class="list-clients__item"><img class="img-responsive" src="assets/media/clients/4.jpg" height="100" width="200" alt="Partners"></li>
                        <li class="list-clients__item"><img class="img-responsive" src="assets/media/clients/5.jpg" height="100" width="200" alt="Partners"></li>
                    </ul>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- end section-clients -->


</div>